@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}


main{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    width: 80vw;
    height: 500px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 70% 30%;
}

.illustration{
    position: relative;
    grid-row: 1/3;
}

.illustration div{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}


.illustration img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border-radius: 25px;
    min-width: max-content;
    color: #fff;
    font-family: 'Roboto';
    z-index: 100;
    background-color: #4b00aa;
}
.errorText{
    display: flex;
    position: relative;
    align-items: center;
    font-size: 65px;
    font-family: 'Roboto';
    justify-content: center;
    min-width: 353.5px;
    background-color: #999;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius: 25px;
}
.errorText::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 40px;
    top: -40px;
    background-color: #999;
}